@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Page.Title = "首页";
}
<link href="~/Content/Css/homeIndex.css" rel="stylesheet" />
<script src="~/Content/Scripts/Bill/HomeIndex.js"></script>
<div class="div_All">
    <div class="chart_circle_left">
        <div id="container_left" style="height: 100%"></div>
    </div>
    <div class="chart_circle_rigth">
        <div id="container_rigth" style="height: 100%"></div>
    </div>
</div>

