<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Page.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Scripts/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/Scripts/layui/css/modules/layer/default/layer.css" rel="stylesheet" />
    <link href="~/Content/Css/main.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Content/Scripts/layui/layui.js"></script>
    <script src="~/Content/Scripts/layui/lay/modules/layer.js"></script>
    <script src="~/Content/Scripts/Cookie/jquery.cookie.js"></script>
    <script src="~/Content/Scripts/Cookie/jquery-latest.js"></script>
    <script src="~/Content/Scripts/Bill/Common/CookieHelper.js"></script>
    <script src="~/Content/Scripts/Bill/Common/LayerHelper.js"></script>
</head>
<body>
    <div id="content">
        @RenderBody()
    </div>
</body>
</html>
