@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Page.Title = "账单";

    var billsTypeList = new Bill.Web.Controllers.BillsTypeController().FindList();
}
<link href="~/Content/Css/Bills.css" rel="stylesheet" />
<link href="~/Content/Css/billsType.css" rel="stylesheet" />
<script src="~/Content/Scripts/Bill/Bills.js"></script>
<div class="div_All">
    <div class="div_head div_head_bills">
        <div class="title">
            <h2>
                我的账单
            </h2>
            <a href="javascript:;" title="新增" id="Add">
                <img src="~/Images/jia.png" />
            </a>
        </div>
        <div class="z_content dateTiemContent" id="CreateTime">
            <strong>时间：</strong>
            <input type="text" class="layui-input input" id="StartDateTime" value="@DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd")">
            <span>-</span>
            <input type="text" class="layui-input input" id="EndDateTime" value="@DateTime.Now.ToString("yyyy-MM-dd")">
            <a>今日</a>
            <span>|</span>
            <span>最近：</span>
            <a name="1" class="bills_selected">1个月</a>
            <a name="3">3个月</a>
            <a name="12">1年</a>
        </div>

        <div class="z_content type" id="BillsType">
            <strong>分类：</strong>
            <a name="0" class="bills_selected">全部</a>
            @foreach (var item in billsTypeList)
            {
                <a name="@item.Id">@item.Name</a>
            }
            <input type="hidden" id="BillsTypeId" value="">
        </div>


    </div>
    <div class="div_head div_content">
        <div class="div_head div_head_content">
            <table class="layui-table" id="Table"></table>
            <div id="Page"></div>
        </div>
    </div>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>