@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Page.Title = "账单类型";
}

<div>
    <div style="width:100px;height:100px;text-align:center;float:left">
        <a href="javascript:;">
            <div style="width:100%;text-align:center">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img" style="width:80%;height:80%;padding: 10px 0px 5px 0px;margin:0px" id="logo">
            </div>
            <div style="text-align:center;">
                <span>张翔</span>
            </div>
        </a>
    </div>
    <div style="width:100px;height:100px;text-align:center;float:left">
        <a href="javascript:;">
            <div style="width:100%;text-align:center">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img" style="width:80%;height:80%;padding: 10px 0px 5px 0px;margin:0px" id="logo">
            </div>
            <div style="text-align:center;">
                <span>张翔</span>
            </div>
        </a>
    </div>
    <div style="width:100px;height:100px;text-align:center;float:left">
        <a href="javascript:;">
            <div style="width:100%;text-align:center">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img" style="width:80%;height:80%;padding: 10px 0px 5px 0px;margin:0px" id="logo">
            </div>
            <div style="text-align:center;">
                <span>张翔</span>
            </div>
        </a>
    </div>
    <div style="width:100px;height:100px;text-align:center;float:left">
        <a href="javascript:;">
            <div style="width:100%;text-align:center">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img" style="width:80%;height:80%;padding: 10px 0px 5px 0px;margin:0px" id="logo">
            </div>
            <div style="text-align:center;">
                <span>张翔</span>
            </div>
        </a>
    </div>
    <div style="width:100px;height:100px;text-align:center;float:left">
        <a href="javascript:;">
            <div style="width:100%;text-align:center">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img" style="width:80%;height:80%;padding: 10px 0px 5px 0px;margin:0px" id="logo">
            </div>
            <div style="text-align:center;">
                <span>张翔</span>
            </div>
        </a>
    </div>
    <div style="width:100px;height:100px;text-align:center;float:left">
        <a href="javascript:;">
            <div style="width:100%;text-align:center">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img" style="width:80%;height:80%;padding: 10px 0px 5px 0px;margin:0px" id="logo">
            </div>
            <div style="text-align:center;">
                <span>张翔</span>
            </div>
        </a>
    </div>

</div>