@model List<Bill.Model.Entity.BillsType>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Page.Title = "账单类型";
}
<link href="~/Content/Css/billsType.css" rel="stylesheet" />
<script src="~/Content/Scripts/Bill/BillsType.js"></script>
<div class="div_All">

    <div class="div_head">
        <div class="title">
            <h2>
                账单类型
            </h2>
            <a href="javascript:;" title="新增" id="Add">
                <img src="~/Images/jia.png" />
            </a>

        </div>
        @foreach (var item in Model)
        {
            var imgsrc = !item.Logo.IsEmpty() ? item.Logo : "http://t.cn/RCzsdCq";
        <div class="content">
            <a>
                <img src="~/Images/shanchu.png" class="delete_img" name="@item.Id"/>
            </a>
            
            <a href="javascript:;" name="@item.Id" class="imgContenta">
                <div class="imgContent">
                    <img src="@imgsrc" class="layui-nav-img img">
                    <div style="text-align:center;">
                        <span>@item.Name</span>
                    </div>
                </div>
            </a>
        </div>
        }


    </div>
</div>>