.chart_circle_left {
    margin: auto;
    position: absolute;
    top: 10px;
    left: 0;
    bottom: 0;
    width: 45%;
}

.chart_circle_rigth {
    margin: auto;
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 0;
    width: 45%;
}
