<?xml version="1.0" encoding="utf-8"?>
<!--数据库链接字符串-->
<connectionStrings>
  <add name="SqlBaseDbConnectionString" connectionString="Data Source=39.108.190.163;Initial Catalog=Berry2;User ID=sa;Password=NK4Qwql8Z?csv(XNew;Pooling=true;Max Pool Size = 5120;Min Pool Size=0;" providerName="System.Data.SqlClient" />
</connectionStrings>
