<?xml version="1.0" encoding="utf-8"?>

<unity xmlns="http://schemas.microsoft.com/practces/2010/unity">
  <containers>
    <container name="DbContainer">
      <!--Dapper的SqlServer-->
      <register type="Bill.Data.IDatabase,Bill.Data"  mapTo="Bill.Dapper.MsSqlDatabase,Bill.Dapper" name="SqlServer"></register>
    </container>
  </containers>
</unity>
